<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoManiac</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://kit.fontawesome.com/def5750ca9.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--container-->
    <section class="quiz-container">

        <!--questionBox-->
        <div class="questionBox" id="app">

            <!-- transition -->
            <transition :duration="{ enter: 500, leave: 300 }" enter-active-class="animated zoomIn"
                leave-active-class="animated zoomOut" mode="out-in">

                <!--qusetionContainer-->
                <div class="questionContainer" v-if="questionIndex<quiz.questions.length" v-bind:key="questionIndex">

                    <div class="quiz-header">
                        <h1 class="h1">VueQuiz</h1>
                        <!--progress-->
                        <div class="progressContainer">
                            <progress class="progress is-info is-small"
                                :value="(questionIndex/quiz.questions.length)*100"
                                max="100">{{(questionIndex/quiz.questions.length)*100}}%</progress>
                            <p>{{(questionIndex/quiz.questions.length)*100}}% complete</p>
                        </div>
                        <!--/progress-->
                    </div>

                    <!-- questionTitle -->
                    <h2 class="titleContainer title">{{ quiz.questions[questionIndex].text }}</h2>

                    <!-- quizOptions -->
                    <div class="optionContainer">
                        <div class="option" v-for="(response, index) in quiz.questions[questionIndex].responses"
                            @click="selectOption(index)"
                            :class="{ 'is-selected': userResponses[questionIndex] == index}" :key="index">
                            {{ index | charIndex }}. {{ response.text }}
                        </div>
                    </div>

                    <!--quizFooter: navigation and progress-->
                    <footer class="questionFooter">

                        <!--pagination-->
                        <nav class="pagination" role="navigation" aria-label="pagination">

                            <!-- back button -->
                            <a class="quiz-button" v-on:click="prev();" :disabled="questionIndex < 1">
                                Back
                            </a>

                            <!-- next button -->
                            <a class="quiz-button" :class="(userResponses[questionIndex]==null)?'':'is-active'"
                                v-on:click="next();" :disabled="questionIndex>=quiz.questions.length">
                                {{ (userResponses[questionIndex]==null)?'Skip':'Next' }}
                            </a>

                        </nav>
                        <!--/pagination-->

                    </footer>
                    <!--/quizFooter-->

                </div>
                <!--/questionContainer-->

                <!--quizCompletedResult-->
                <div v-if="questionIndex >= quiz.questions.length" v-bind:key="questionIndex"
                    class="quizCompleted has-text-centered">

                    <!-- quizCompletedIcon: Achievement Icon -->
                    <span class="quiz-icon">
                        <i class="fa" :class="score()>3?'fa-check-circle-o is-active':'fa-times-circle'"></i>
                    </span>

                    <!--resultTitleBlock-->
                    <h2 class="quiz-title">
                        You did {{ (score()>7?'an amazing':(score()<4?'a poor':'a good')) }} job! </h2>
                            <p class="quiz-subtitle">
                                Total score: {{ score() }} / {{ quiz.questions.length }}
                            </p>
                            <br>
                            <a class="quiz-button" @click="restart()">restart <i class="fa fa-refresh"></i></a>
                            <!--/resultTitleBlock-->

                </div>
                <!--/quizCompetedResult-->

            </transition>

        </div>
        <!--/questionBox-->

    </section>
    <!--/container-->
</body>

</html>